nav{
    display: flex;
    justify-content: space-around;
    background-color: orange;
    align-items: center;
    height: 5rem;
}
nav > a{
    font-size: 2rem;
    text-decoration: none;
}
#product{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#product > *{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    height: 10rem;
    width: 10rem;
    border: solid green 1px;
}