nav{
    display: flex;
    justify-content: space-around;
    background-color: orange;
    align-items: center;
    height: 5rem;
}
nav > a{
    font-size: 2rem;
    text-decoration: none;
}
#product{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#product > *{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    height: 10rem;
    width: 10rem;
    border: solid green 1px;
}
.dairy{
    background-color: rgb(18, 194, 218);
}
.produce{
    background-color: rgb(46, 155, 46);
}
.meat{
    background-color: rgb(179, 12, 12);
    color: blanchedalmond;
}

#list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul> *{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: lightblue;
    height: 3rem;
    width: 30rem;
    border: solid black 2px;
}